body {
  font-family: Helvetica, Trebuchet, Arial, sans-serif;
}

#secrets {
  margin: 1em 0;
}

.secret {
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  overflow: hidden;
  padding: 1em 0;
}

.secret:first-child {
  border-width: 1px 0;
}

.secret form {
  float: right;
}

.secret-time {
  clear: left;
  color: #aaa;
  font-size: .75em;
  margin-top: .5em;
}

.secret-submitter {
  color: white;
  float: left;
  font-size: 75%;
  margin-right: .5em;
  min-width: 4em;
  padding: .25em;
  text-align: center;
  text-shadow: 1px 1px 1px #000;  
}

.secret-submitter span {
  display: none;
}

.secret-submitter:hover span {
  display: inline;
}

div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.digg a:active {
	border: 1px solid #000099;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;

	color: #DDD;
}
